---
// Basic Contact Form
// ------------
// Description: A basic contact form with fields for first name, last name, email, phone number and message.
// Properties:
// - classes: Additional classes to be added to the block
// ------------

// Components
// - UI
import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import TextArea from '../../ui/forms/form-elements/TextArea.astro'
import Button from '../../ui/Button.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Card classes={classes}>
	<CardBody>
		<Form>
			<FormField>
				<InputField type="text" id="firstName" label="Имя" />
			</FormField>
			<FormField>
				<InputField type="email" id="email" label="Почта" required value="name@youremail.com" />
			</FormField>
			<FormField>
				<InputField type="tel" id="phone" label="WhatsApp" />
				<InputField type="text" id="tg" label=" Имя в Телеграм" />
			</FormField>
			<FormField
				><TextArea
					id="message"
					label="Напишите, в каком из мессенджеров с вами удобнее связаться"
				/></FormField
			>
			<p class="mt-4 text-xs text-neutral-500">
				Отправляя форму вы соглашаетесь с
				<a href="/privacy" class="underline" target="_blank" rel="noopener noreferrer"
					>политикой конфиденциальности</a
				>
				сайта.
			</p>
			<Button style="primary" type="submit">Заказать демонстрацию</Button>
		</Form>
	</CardBody>
</Card>
