---
// Basic FAQ section
// ------------
// Description: A section that contains a list of frequently asked questions with answers.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Accordion from '../../ui/Accordion.astro'
import Card from '../../ui/cards/partials/Card.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="FAQ" classes={classes}>
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Если ты ещё по какой‑то причине тут, возможно остались вопросы</h2>
			<p class="text-lg leading-relaxed">Ниже коротко ответили на самые частые.</p>
		</Col>
		<Col span="2" />
		<Col span="8">
			<Card classes="divide-y divide-neutral-100 dark:divide-neutral-800">
				<Accordion title="Чем отличается от простой примерки причёсок?">
					<ul class="list-disc pl-6 pr-4 py-4 space-y-2">
						<li>Мы не натягиваем «фильтр» поверх фото.</li>
						<li>Нейросети обучены совместно с мастерами по наращиванию и учитывают твою текстуру волос — этот результат реально получить у профи.</li>
						<li>Здесь только удлинение/наращивание — короткие стрижки не предлагаем, сервис про длину и густоту.</li>
					</ul>
				</Accordion>

				<Accordion title="А если мне не понравился результат?">
					<ul class="list-disc pl-6 pr-4 py-4 space-y-2">
						<li>Просто расскажи боту хотелки (голосом и на любом языке) — он учтёт их в следующей генерации.</li>
						<li>Говори как мастеру: «сделай светлее/добавь волну» — получишь новый образ.</li>
					</ul>
				</Accordion>

				<Accordion title="Можно ли тут найти мастера?">
					<ul class="list-disc pl-6 pr-4 py-4 space-y-2">
						<li>Да. Если ты клиентка — увидишь список мастеров рядом (если они есть в городе).</li>
						<li>Если пришла по ссылке мастера — значит уже нашла.</li>
					</ul>
				</Accordion>

				<Accordion title="А вдруг я испугаюсь, что это «не я»?">
					<ul class="list-disc pl-6 pr-4 py-4 space-y-2">
						<li>Наш Relaxed Mode — не фильтр: сохраняет твоё лицо и характер (и особенности тоже), просто снимает стресс.</li>
						<li>После наращивания ты правда похорошеешь — кайф от результата прогонит стресс.</li>
						<li>Визуализатор не молодит, не худит и не переодевает — результат и так впечатлит. Это всегда «я после процедуры», а не «чужая девушка с париком». Попробуй бесплатно — прямо в Телеграм!</li>
					</ul>
				</Accordion>
			</Card>
		</Col>
		<Col span="2" />
	</Row>
</Section>

<style>
	.page-header {
		@apply mx-auto max-w-3xl;
	}
	.page-header__text {
		@apply text-lg leading-relaxed;
	}
</style>
