---
import Layout from '../layouts/Layout.astro'
const SEO = {
  title: 'White Label Платформа',
  description: 'Страница White Label платформы.'
}
---

<Layout title={SEO.title} description={SEO.description}>
  <section class="py-32">
    <h1 class="text-center text-3xl">White Label Платформа</h1>
  </section>
</Layout>
