---
import Layout from '../layouts/Layout.astro'
const SEO = {
  title: 'Создать сообщество',
  description: 'Страница для создания собственного сообщества.'
}
---

<Layout title={SEO.title} description={SEO.description}>
  <section class="py-32">
    <h1 class="text-center text-3xl">Создать сообщество</h1>
  </section>
</Layout>
