---
// Community cards (3 items, no header)
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import Card from '../../ui/cards/BasicCard.astro'
---

<Section>
  <Row>
    <Col span="4">
      <Card
        title="Школам и преподавателям с сильным брендом"
        subtitle="Зарабатывайте на токенах, генерациях и собственной рекламе. Рекомендуйте выпускников, продавайте курсы прямо в боте, усиливайте бренд и удерживайте учеников внутри своей экосистемы."
        icon="book"
        classes="text-center dark:!bg-neutral-800/50"
      />
    </Col>
    <Col span="4">
      <Card
        title="Ассоциациям мастеров"
        subtitle="Единая экосистема для сообщества. Рассылайте ивенты, интегрируйтесь с поставщиками, продавайте доп-услуги, усиливайте ценность членства через централизованный инструмент."
        icon="squares-plus"
        classes="text-center dark:!bg-neutral-800/50"
      />
    </Col>
    <Col span="4">
      <Card
        title="Фабрикам волос"
        subtitle="Не только продажа волос — но и рост спроса. Помогайте мастерам продавать больше услуг через бота, чтобы они чаще закупали у вас материалы. Платформа становится витриной и каналом продаж одновременно."
        icon="rocket"
        classes="text-center dark:!bg-neutral-800/50"
      />
    </Col>
  </Row>
</Section>

